.container {
    max-width: 72rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }

.narrowContainer {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headerImage {
    width: 6rem;
    height: 6rem;
  }
  
  .headerHomeImage {
    width: 8rem;
    height: 8rem;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  .boxplotImage {
    max-width: 100%;
    height: auto;
  }

  .graphImage {
    max-width: 75%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .column {
    float : left;
    width: 50%;
    padding: 5px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }